@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.main_container {
    max-width: 1180px;
    margin: 0 auto;
}

.btn_link {
    width: 380px;
    height: 72px;
    border-radius: 40px;
    background: #64DEDF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:hover {
        color: #000;
    }
}

header {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;

    .logo {
        svg {
            path {
                fill: white;
            }
        }
    }

    .menu {
        gap: 30px;

        a {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .menu_dropdown {
            position: relative;

            .menu_dropdown_title {
                appearance: 4px;
                cursor: pointer;

                span {
                    color: #FFF;
                    font-family: "Inter", sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: block;
                }

                svg {
                    margin-left: 4px;
                    margin-top: 4px;
                }
            }

            .menu_dropdown_items_wrapper {
                position: absolute;
                padding-top: 10px;
                right: -29px;
                display: none;

                svg {
                    position: absolute;
                    right: 23px;
                    top: 0;
                    transform: rotateZ(180deg);
                    width: 20px;
                    height: auto;
                }

                .menu_dropdown_items {
                    background: white;
                    padding: 25px 35px 29px 36px !important;
                    gap: 14px;
                    

                    a {
                        color: #000;
                        font-family: "Inter", sans-serif;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        white-space: nowrap;
                    }
                }
            }

            &:hover {
                .menu_dropdown_title {
                    span {
                        color: #64DEDF;
                    }

                    svg {
                        transform: rotateZ(180deg);
                    }
                }

                .menu_dropdown_items_wrapper {
                    display: block;
                }
            }
        }

        .last_link {
            gap: 6px;

            img {
                transform: translateY(-3px);
            }
        }
    }
}

.light_header {
    .logo {
        svg {
            path {
                fill: black;
            }
        }
    }

    .menu {
        a {
            color: black;
        }

        .menu_dropdown {
            .menu_dropdown_title {
                span {
                    color: black;
                }

                svg {
                    path {
                        fill: black;
                    }
                }
            }
        }
    }
}

#home {
    background: url('../images/home_bg.png') no-repeat;
    background-position: right center;
    background-size: cover;
    padding-top: 238px;
    padding-bottom: 162px;

    .title {
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 31px;
        max-width: 490px;
    }

    .description {
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 55px;
        max-width: 521px;
    }
    
}

#advantages {
    .advantages_top {
        gap: 75px;
        margin-bottom: 70px;

        .advantages_top_left {
            min-width: 426px;
            border-right: 1px solid #CE7C00;
            
            .imgs {
                right: -25px;
                bottom: -11px;
                gap: 73px;
            }

            .main_img {
                width: 331px;
                margin-top: 51px;
            }
        }

        .advantages_top_right {
            .title {
                color: #000;
                font-family: "Inter", sans-serif;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                max-width: 389px;
                margin-bottom: 35px;
                margin-top: 100px;
            }

            .datas {
                display: flex;
                gap: 43px;
                align-items: flex-start;

                .data {
                    width: 157px;
                    min-width: 157px;
                    color: #000;
                    font-family: "Inter", sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .value {
                    color: #000;
                    font-family: "Inter" ,sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .datas_1 {
                margin-bottom: 49px;

                .value {
                    width: 377px;
                }
            }

            .datas_2 {
                margin-bottom: 50px;
                
                .value {
                    width: 380px;
                }
            }

            .datas_3 {
                margin-bottom: 36px;

                .value {
                    width: 300px;
                }
            }

            .datas_4 {
                .value {
                    width: 331px;
                }
            }
        }
    }

    .advantages_bottom {
        gap: 7px;
        margin-bottom: 102px;

        .advantages_left {
            .title {
                color: #000;
                font-family: "Inter", sans-serif;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 33px;
                max-width: 393px;
            }

            .description {
                color: #000;
                font-family: "Inter", sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                max-width: 337px;
            }
        }

        .advantages_left {
            position: relative;

            .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #000;
                text-align: center;
                font-family: "Inter", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}

#chip {
    background: url('../images/chip_bg.png') no-repeat;
    background-position: left center;
    background-size: cover;

    .main_container {
        padding: 191px 0 199px 560px;
    }

    .title {
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 24px;
    }

    .description {
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 493px;
    }
}

#example {
    margin-bottom: 92px;

    .main_container {
        gap: 20px;
    }

    .card_first {
        position: relative;
        margin-right: 13px;

        .text {
            position: absolute;
            top: 209px;
            left: 60px;
            color: #000;
            font-family: "Inter", sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 250px;
        }
    }

    .card_item {
        padding-top: 100px;

        .card_title {
            color: #000;
            font-family: "Inter", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 9px;
        }

        .card_img {
            margin-bottom: 30px;
        }

        .card_descriptions {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 15px;

            .text {
                color: #000;
                font-family: "Inter", sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

#chip2 {
    background: url('../images/chip2_bg.png') no-repeat;
    background-position: left center;
    background-size: cover;

    .main_container {
        padding: 150px 0 164px 560px;
    }

    .description {
        color: #FFF;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 480px;
        margin-bottom: 95px;
    }
}

#all_cards {
    .first_cards {
        gap: 20px;
        margin-bottom: 100px;

        .first_card {
            display: flex;
            align-items: flex-start;
            gap: 50px;

            .first_card_left {
                display: flex;
                align-items: flex-start;
                gap: 50px;
                position: relative;
                
                .line {
                    background: #CE7C00;
                    width: 1px;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 25px;
                }
                
                .icons {
                    padding-top: 250px;
                    display: flex;
                    flex-direction: column;
                    position: relative;                    

                    .img_1 {
                        margin-bottom: 33px;
                    }

                    .img_2 {
                        margin-bottom: 48px;
                    }
                    
                    .img_3 {
                        margin-bottom: 77px;
                    }
                }
            }

            .first_card_right {
                padding-top: 114px;

                .title {
                    color: #000;
                    font-family: "Inter", sans-serif;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 35px;
                    max-width: 280px;
                }

                .descriptions {
                    color: #000;
                    font-family: "Inter", sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: flex;
                    flex-direction: column;
                    gap: 37px;

                    div {
                        width: 274px;
                    }
                }
            }
        }

        .cards {
            padding-top: 114px;
            

            .cards_top {
                display: flex;
                gap: 20px;
                margin-bottom: 46px;
            }
        }
    }

    .main_cards {
        gap: 20px;
        align-items: flex-start;
        margin-bottom: 100px;

        .cards {
            .cards_top {
                display: flex;
                gap: 20px;
                margin-bottom: 46px;
            }
        }

        .first_card {
            display: flex;
            align-items: flex-end;
            gap: 50px;

            .first_card_left {
                position: relative;

                .line {
                    position: absolute;
                    left: 25px;
                    height: 100%;
                    bottom: 0;
                    width: 1px;
                    background: #CE7C00;
                }

                .icons {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                }
            }

            .first_card_left_1 {
                margin-bottom: 35px;

                .icons {
                    .img_1 {
                        margin-bottom: 58px;
                    }

                    .img_2 {
                        margin-bottom: 81px;
                    }
                }
            }

            .first_card_left_2 {
                margin-bottom: -5px;

                .icons {
                    .img_1 {
                        margin-bottom: 60px;
                    }

                    .img_2 {
                        margin-bottom: 48px;
                    }
                }
            }

            .first_card_left_3 {
                margin-bottom: 15px;

                .icons {
                    .img_1 {
                        margin-bottom: 66px;
                    }

                    .img_2 {
                        margin-bottom: 54px;
                    }
                }
            }

            .first_card_right {
                .title {
                    color: #000;
                    font-family: "Inter", sans-serif;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 35px;
                    max-width: 280px;
                }

                .descriptions {
                    display: flex;
                    flex-direction: column;
                    gap: 37px;
                    width: 262px;

                    div {
                        color: #000;
                        font-family: "Inter", sans-serif;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }

    .last_main_cards {
        margin-bottom: 158px;
    }
}

#trust {
    position: relative;
    padding: 35px 0;
    margin-bottom: 100px;

    .trust_bg {
        position: absolute;
        top: 0;
        height: 100%;
        background: black;
        right: 0;
    }

    .main_container {
        gap: 101px;
        position: relative;
    }

    .title {
        color: #000;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 299px;
    }

    .texts {
        display: flex;
        align-items: center;
        padding-left: 99px;

        .line {
            background: #CE7C00;
            width: 1px;
            height: 48px;
        }

        .line_1 {
            margin-left: 75px;
            margin-right: 74px;
        }

        .line_2 {
            margin-left: 69px;
            margin-right: 66px;
        }

        .item {
            .number {
                color: #FFF;
                font-family: "Inter", sans-serif;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 4px;
            }

            .text {
                color: #FFF;
                font-family: "Inter", sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

#foot_slier {
    margin-bottom: 172px;

    .main_container {
        gap: 20px;
    }

    .btn_right {
        transform: rotateZ(180deg);
    }
}

footer {
    background: black;
    padding: 54px 0 47px;

    .item {
        ul {
            display: flex;
            flex-direction: column;
            margin-top: 41px;
            gap: 17px;
        }

        .link_1 {
            margin-top: 46px;
        }

        .title {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 26px;
        }

        a {
            color: #FFF;
            font-family: "Inter", sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .link {
            width: 222px;
        }
    }

    .item_2 {
        margin-left: 70px;
        margin-right: 52px;
    }

    .item_4 {
        margin-left: 124px;
    }
}

@import "responsive";