@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

.main_container {
  max-width: 1180px;
  margin: 0 auto;
}

.btn_link {
  width: 380px;
  height: 72px;
  border-radius: 40px;
  background: #64DEDF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn_link:hover {
  color: #000;
}

.btn_link_two {
  max-width: 350px;
  height: 72px;
  border-radius: 40px;
  background: #CE7C00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn_link_two:hover {
  color: #fff;
}

header {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
}
header .logo svg path {
  fill: white;
}
header .menu {
  gap: 30px;
}
header .menu a {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .menu .menu_dropdown {
  position: relative;
}
header .menu .menu_dropdown .menu_dropdown_title {
  -webkit-appearance: 4px;
     -moz-appearance: 4px;
          appearance: 4px;
  cursor: pointer;
}
header .menu .menu_dropdown .menu_dropdown_title span {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}
header .menu .menu_dropdown .menu_dropdown_title svg {
  margin-left: 4px;
  margin-top: 4px;
}
header .menu .menu_dropdown .menu_dropdown_items_wrapper {
  position: absolute;
  padding-top: 10px;
  right: -29px;
  display: none;
}
header .menu .menu_dropdown .menu_dropdown_items_wrapper svg {
  position: absolute;
  right: 23px;
  top: 0;
  transform: rotateZ(180deg);
  width: 20px;
  height: auto;
}
header .menu .menu_dropdown .menu_dropdown_items_wrapper .menu_dropdown_items {
  background: white;
  padding: 25px 35px 29px 36px !important;
  gap: 14px;
}
header .menu .menu_dropdown .menu_dropdown_items_wrapper .menu_dropdown_items a {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}
header .menu .menu_dropdown:hover .menu_dropdown_title span {
  color: #64DEDF;
}
header .menu .menu_dropdown:hover .menu_dropdown_title svg {
  transform: rotateZ(180deg);
}
header .menu .menu_dropdown:hover .menu_dropdown_items_wrapper {
  display: block;
}
header .menu .last_link {
  gap: 6px;
}
header .menu .last_link img {
  transform: translateY(-3px);
}
header .mobile_menu {
  display: none;
}
header .bars {
  display: none;
}
header .bars svg {
  fill: white;
}

.light_header .logo svg path {
  fill: black;
}
.light_header .bars svg {
  fill: black;
}
.light_header .menu a {
  color: black;
}
.light_header .menu .menu_dropdown .menu_dropdown_title span {
  color: black;
}
.light_header .menu .menu_dropdown .menu_dropdown_title svg path {
  fill: black;
}

#home {
  background: url("../images/home_bg.jpg") no-repeat;
  background-position: right center;
  background-size: cover;
  padding-top: 238px;
  padding-bottom: 162px;
}
#home .title {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 31px;
  max-width: 490px;
}
#home .description {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 55px;
  max-width: 521px;
}

#advantages .advantages_top {
  gap: 75px;
  margin-bottom: 70px;
}
#advantages .advantages_top .advantages_top_left {
  min-width: 426px;
  border-right: 1px solid #CE7C00;
}
#advantages .advantages_top .advantages_top_left .imgs {
  right: -25px;
  bottom: -11px;
  gap: 73px;
}
#advantages .advantages_top .advantages_top_left .main_img {
  width: 331px;
  margin-top: 51px;
}
#advantages .advantages_top .advantages_top_right .title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 389px;
  margin-bottom: 35px;
  margin-top: 100px;
}
#advantages .advantages_top .advantages_top_right .datas {
  display: flex;
  gap: 43px;
  align-items: flex-start;
}
#advantages .advantages_top .advantages_top_right .datas .data {
  width: 157px;
  min-width: 157px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#advantages .advantages_top .advantages_top_right .datas .value {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#advantages .advantages_top .advantages_top_right .datas_1 {
  margin-bottom: 49px;
}
#advantages .advantages_top .advantages_top_right .datas_1 .value {
  width: 377px;
}
#advantages .advantages_top .advantages_top_right .datas_2 {
  margin-bottom: 50px;
}
#advantages .advantages_top .advantages_top_right .datas_2 .value {
  width: 380px;
}
#advantages .advantages_top .advantages_top_right .datas_3 {
  margin-bottom: 36px;
}
#advantages .advantages_top .advantages_top_right .datas_3 .value {
  width: 300px;
}
#advantages .advantages_top .advantages_top_right .datas_4 .value {
  width: 331px;
}
#advantages .advantages_bottom {
  gap: 7px;
  margin-bottom: 102px;
}
#advantages .advantages_bottom .advantages_left .title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 33px;
  max-width: 393px;
}
#advantages .advantages_bottom .advantages_left .description {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 337px;
}
#advantages .advantages_bottom .advantages_left {
  position: relative;
}
#advantages .advantages_bottom .advantages_left .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#chip {
  background: url("../images/chip_bg.png") no-repeat;
  background-position: left center;
  background-size: cover;
}
#chip .main_container {
  padding: 191px 0 199px 560px;
}
#chip .title {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
#chip .description {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 493px;
}

#example {
  margin-bottom: 92px;
}
#example .main_container {
  gap: 20px;
}
#example .card_first {
  position: relative;
  margin-right: 13px;
  order: 1;
}
#example .card_first .text {
  position: absolute;
  top: 209px;
  left: 60px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 250px;
}
#example .card_item {
  padding-top: 100px;
  order: 2;
}
#example .card_item .card_title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 9px;
}
#example .card_item .card_img {
  margin-bottom: 30px;
}
#example .card_item .card_descriptions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
#example .card_item .card_descriptions .text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#chip2 {
  background: url("../images/chip2_bg.jpg") no-repeat;
  background-position: left center;
  background-size: cover;
}
#chip2 .main_container {
  padding: 150px 0 164px 560px;
}
#chip2 .description {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 480px;
  margin-bottom: 95px;
}

#all_cards .first_cards {
  gap: 20px;
  margin-bottom: 100px;
}
#all_cards .first_cards .first_card {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
#all_cards .first_cards .first_card .first_card_left {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
}
#all_cards .first_cards .first_card .first_card_left .line {
  background: #CE7C00;
  width: 1px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 25px;
}
#all_cards .first_cards .first_card .first_card_left .icons {
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#all_cards .first_cards .first_card .first_card_left .icons .img_1 {
  margin-bottom: 33px;
}
#all_cards .first_cards .first_card .first_card_left .icons .img_2 {
  margin-bottom: 48px;
}
#all_cards .first_cards .first_card .first_card_left .icons .img_3 {
  margin-bottom: 77px;
}
#all_cards .first_cards .first_card .first_card_right {
  padding-top: 114px;
}
#all_cards .first_cards .first_card .first_card_right .title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 35px;
  max-width: 280px;
}
#all_cards .first_cards .first_card .first_card_right .descriptions {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 37px;
}
#all_cards .first_cards .first_card .first_card_right .descriptions div {
  width: 274px;
}
#all_cards .first_cards .cards {
  padding-top: 114px;
}
#all_cards .first_cards .cards .cards_top {
  display: flex;
  gap: 20px;
  margin-bottom: 46px;
}
#all_cards .main_cards {
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 100px;
}
#all_cards .main_cards .cards .cards_top {
  display: flex;
  gap: 20px;
  margin-bottom: 46px;
}
#all_cards .main_cards .first_card {
  display: flex;
  align-items: flex-end;
  gap: 50px;
}
#all_cards .main_cards .first_card .first_card_left {
  position: relative;
}
#all_cards .main_cards .first_card .first_card_left .line {
  position: absolute;
  left: 25px;
  height: 100%;
  bottom: 0;
  width: 1px;
  background: #CE7C00;
}
#all_cards .main_cards .first_card .first_card_left .icons {
  display: flex;
  flex-direction: column;
  position: relative;
}
#all_cards .main_cards .first_card .first_card_left_1 {
  margin-bottom: 35px;
}
#all_cards .main_cards .first_card .first_card_left_1 .icons .img_1 {
  margin-bottom: 58px;
}
#all_cards .main_cards .first_card .first_card_left_1 .icons .img_2 {
  margin-bottom: 81px;
}
#all_cards .main_cards .first_card .first_card_left_2 {
  margin-bottom: -5px;
}
#all_cards .main_cards .first_card .first_card_left_2 .icons .img_1 {
  margin-bottom: 60px;
}
#all_cards .main_cards .first_card .first_card_left_2 .icons .img_2 {
  margin-bottom: 48px;
}
#all_cards .main_cards .first_card .first_card_left_3 {
  margin-bottom: 15px;
}
#all_cards .main_cards .first_card .first_card_left_3 .icons .img_1 {
  margin-bottom: 66px;
}
#all_cards .main_cards .first_card .first_card_left_3 .icons .img_2 {
  margin-bottom: 54px;
}
#all_cards .main_cards .first_card .first_card_right .title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 35px;
  max-width: 280px;
}
#all_cards .main_cards .first_card .first_card_right .descriptions {
  display: flex;
  flex-direction: column;
  gap: 37px;
  width: 262px;
}
#all_cards .main_cards .first_card .first_card_right .descriptions div {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#all_cards .last_main_cards {
  margin-bottom: 158px;
}

#history_home .title {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 226px auto 63px;
  max-width: 372px;
}
#history_home .history_home_bottom {
  background: url("../images/history_card_bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 155px;
  margin-bottom: 100px;
}
#history_home .description {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 571px;
  margin-left: 200px;
  margin-bottom: 106px;
}
#history_home .cards {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  padding-right: 100px;
  gap: 20px;
}
#history_home .cards .card_item {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 55px 50px;
  width: 380px;
}
#history_home .cards .card_item .text {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 12px;
}

#history_cards {
  margin-bottom: 100px;
}
#history_cards .main_container {
  gap: 20px;
}
#history_cards .card_left {
  width: calc(57.6271186441% - 10px);
}
#history_cards .card_left .first_card_item img {
  width: 100%;
  margin-bottom: 28px;
}
#history_cards .card_left .first_card_item .text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 54px;
  max-width: 580px;
}
#history_cards .card_left .card_item {
  max-width: 480px;
  margin-left: auto;
  margin-right: 0;
}
#history_cards .card_left .card_item img {
  width: 100%;
  margin-bottom: 29px;
}
#history_cards .card_left .card_item .text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#history_cards .card_right {
  width: calc(40.6779661017% - 10px);
}
#history_cards .card_right img {
  width: 100%;
  margin: 61px 0 28px;
}
#history_cards .card_right .text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#trust {
  position: relative;
  padding: 35px 0;
  margin-bottom: 100px;
}
#trust .trust_bg {
  position: absolute;
  top: 0;
  height: 100%;
  background: black;
  right: 0;
}
#trust .main_container {
  gap: 101px;
  position: relative;
}
#trust .title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 299px;
}
#trust .texts {
  display: flex;
  align-items: center;
  padding-left: 99px;
}
#trust .texts .line {
  background: #CE7C00;
  width: 1px;
  height: 48px;
}
#trust .texts .line_1 {
  margin-left: 75px;
  margin-right: 74px;
}
#trust .texts .line_2 {
  margin-left: 69px;
  margin-right: 66px;
}
#trust .texts .item .number {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}
#trust .texts .item .text {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#foot_slier {
  margin-bottom: 172px;
}
#foot_slier .main_container {
  gap: 20px;
}
#foot_slier .foot_slider .swiper-slide img {
  width: 100%;
}
#foot_slier .btn_right {
  transform: rotateZ(180deg);
}

footer {
  background: black;
  padding: 54px 0 47px;
}
footer .item ul {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  gap: 17px;
}
footer .item .link_1 {
  margin-top: 46px;
}
footer .item .title {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 26px;
}
footer .item a {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .item .link {
  width: 222px;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .item_2 {
  margin-left: 70px;
  margin-right: 52px;
}
footer .item_4 {
  margin-left: 124px;
}

#classic_main .classic_main_wrapper .mobile_img {
  display: none;
  text-align: center;
}
#classic_main .classic_main_wrapper .mobile_img .main_img {
  width: 50%;
}
#classic_main .classic_main_wrapper .mobile_main_in {
  display: flex;
  align-items: center;
  justify-content: center;
}
#classic_main .classic_main_wrapper .mobile_main_in .mobile_main_img {
  display: none;
  margin: 0 auto;
  width: 50%;
}
#classic_main .classic_main_wrapper .media_slider {
  display: none !important;
}
#classic_main .classic_main_wrapper .media_slider .classicSlider {
  max-width: 350px;
}
#classic_main .classic_main_wrapper .media_slider .classicSlider img {
  width: 100%;
}
#classic_main .classic_main_wrapper .media_slider .classicSlider .swiper-pagination-bullet {
  background-color: #c1f2f2;
}
#classic_main .classic_main_wrapper .media_slider .classicSlider .swiper-pagination-bullet-active {
  background-color: #64dedf;
}
#classic_main .classic_main_wrapper .media_slider h3 {
  max-width: 280px;
  margin: 26px auto 32px auto;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .media_slider .btn_link {
  margin: 0 auto;
}
#classic_main .classic_main_wrapper h2 {
  text-align: center;
  margin: 226px auto 30px auto;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .classic_in {
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left {
  position: relative;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left .svg_icon1 {
  position: absolute;
  top: 30px;
  left: 74px;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left .svg_icon2 {
  position: absolute;
  top: 30px;
  left: 74px;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left .svg_icon3 {
  position: absolute;
  top: -40px;
  left: 74px;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left h3 {
  max-width: 229px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left p {
  height: 134px;
  max-width: 320px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_slider {
  transform: translateY(80px);
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_slider .classicSlider {
  width: 350px;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_slider .classicSlider img {
  width: 100%;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_slider .classicSlider .swiper-pagination-bullet {
  background-color: #c1f2f2;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_slider .classicSlider .swiper-pagination-bullet-active {
  background-color: #64dedf;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_slider h3 {
  max-width: 280px;
  margin: 26px auto 32px auto;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .main_img {
  width: 100%;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right {
  text-align: right;
  position: relative;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right .svg_icon1 {
  position: absolute;
  top: 30px;
  right: 74px;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right .svg_icon2 {
  position: absolute;
  top: 30px;
  right: 74px;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right .svg_icon3 {
  position: absolute;
  top: -40px;
  right: 74px;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right h3 {
  max-width: 258px;
  color: #000;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 280px;
  margin-left: auto;
  margin-right: 0;
}
#classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 134px;
  max-width: 320px;
  color: #000;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#classic_main .classic_main_wrapper .classic_card_sliders {
  display: flex;
  gap: 120px;
  justify-content: center;
}
#classic_main .classic_main_wrapper .classic_card_sliders .classic_card_slider .classicSlider {
  width: 380px;
}
#classic_main .classic_main_wrapper .classic_card_sliders .classic_card_slider .classicSlider .swiper-pagination-bullet {
  background-color: #c1f2f2;
}
#classic_main .classic_main_wrapper .classic_card_sliders .classic_card_slider .classicSlider .swiper-pagination-bullet-active {
  background-color: #64dedf;
}
#classic_main .classic_main_wrapper .classic_card_sliders .classic_card_slider h3 {
  max-width: 280px;
  margin: 26px auto 32px auto;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .podbar_cards .podbar_card_top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
  flex-wrap: wrap;
}
#classic_main .classic_main_wrapper .podbar_cards .podbar_card {
  max-width: 380px;
}
#classic_main .classic_main_wrapper .podbar_cards .podbar_card img {
  width: 100%;
}
#classic_main .classic_main_wrapper .podbar_cards .podbar_card h3 {
  margin: 16px auto 39px auto;
  max-width: 380px;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .podbar_system {
  overflow: hidden;
  display: flex;
  align-items: start;
  gap: 53px;
}
#classic_main .classic_main_wrapper .podbar_system h3 {
  max-width: 346px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .podbar_system .system_block {
  position: relative;
}
#classic_main .classic_main_wrapper .podbar_system .system_block .system_line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 500px !important;
}
#classic_main .classic_main_wrapper .podbar_system .system_block .system_box {
  margin-bottom: 54px;
  display: flex;
  align-items: start;
}
#classic_main .classic_main_wrapper .podbar_system .system_block .system_box img {
  position: relative;
  left: -25px;
}
#classic_main .classic_main_wrapper .podbar_system .system_block .system_box img:nth-child(2) {
  transform: translateY(5px);
}
#classic_main .classic_main_wrapper .podbar_system .system_block .system_box h4 {
  margin-left: 25px;
  margin-right: 20px;
  max-width: 180px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .podbar_system .system_block .system_box p {
  max-width: 311px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#classic_main .classic_main_wrapper .podbar_instruction {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
#classic_main .classic_main_wrapper .podbar_instruction h3 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .podbar_instruction .instruction_card {
  max-width: 280px;
}
#classic_main .classic_main_wrapper .podbar_instruction .instruction_card img {
  width: 100%;
}
#classic_main .classic_main_wrapper .podbar_instruction .instruction_card p {
  max-width: 280px;
  margin-top: 23px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#classic_main .classic_main_wrapper .other_products h3 {
  margin: 100px auto 13px auto;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .other_products .other_products_in {
  display: flex;
  gap: 20px;
}
#classic_main .classic_main_wrapper .other_products .other_products_in .other_products_card {
  text-align: center;
}
#classic_main .classic_main_wrapper .other_products .other_products_in .other_products_card img {
  width: 100%;
}
#classic_main .classic_main_wrapper .other_products .other_products_in .other_products_card h3 {
  max-width: 250px;
  margin: 23px auto 32px auto;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#classic_main .classic_main_wrapper .bottom_slider {
  margin-top: 138px;
  margin-bottom: 165px;
  gap: 20px;
}
#classic_main .classic_main_wrapper .bottom_slider .bottomSwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}
#classic_main .classic_main_wrapper .bottom_slider .bottomSwiper .btn_left {
  position: relative;
  z-index: 3;
  left: 0;
}
#classic_main .classic_main_wrapper .bottom_slider .bottomSwiper .btn_right {
  position: relative;
  z-index: 10;
  right: 0;
}
#classic_main .classic_main_wrapper .stopper_in {
  display: flex;
  gap: 20px;
}
#classic_main .classic_main_wrapper .stopper_in .stopper_card {
  text-align: center;
}
#classic_main .classic_main_wrapper .stopper_in .stopper_card h3 {
  max-width: 280px;
  margin: 26px auto 32px auto;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 1280px) {
  .main_container {
    max-width: calc(100% - 100px);
  }
}
@media (max-width: 1220px) {
  header {
    top: 30px;
  }
  header .main_container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  header .logo svg {
    height: 30px;
    width: auto;
  }
  header .menu {
    display: none !important;
  }
  header .bars {
    display: block;
    cursor: pointer;
  }
  header .bars svg {
    width: 25px;
    height: auto;
  }
  header .mobile_menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 5;
    display: none;
  }
  header .mobile_menu .header_close {
    position: absolute;
    top: 18px;
    left: 284px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  header .mobile_menu .mobile_menu_wrapper {
    gap: 10px;
    background: white;
    width: 320px;
    padding-top: 30px;
    padding-left: 10px !important;
  }
  header .mobile_menu .mobile_menu_wrapper a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  header .mobile_menu .mobile_menu_wrapper a.logo {
    margin-bottom: 20px;
  }
  header .mobile_menu .mobile_menu_wrapper a.logo svg {
    width: auto;
    height: 20px;
  }
  header .mobile_menu .mobile_menu_wrapper a.logo svg path {
    fill: black;
  }
  header .mobile_menu .mobile_menu_wrapper .menu_dropdown .menu_dropdown_title span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 5px;
  }
  header .mobile_menu .mobile_menu_wrapper .menu_dropdown .menu_dropdown_title svg {
    margin-top: 2px;
  }
  header .mobile_menu .mobile_menu_wrapper .menu_dropdown .menu_dropdown_title svg path {
    fill: black;
  }
  header .mobile_menu .mobile_menu_wrapper .menu_dropdown .menu_dropdown_items_wrapper .menu_dropdown_items {
    gap: 5px;
  }
  header .mobile_menu .mobile_menu_wrapper .menu_dropdown .menu_dropdown_items_wrapper .menu_dropdown_items li a {
    font-size: 14px;
    padding-left: 10px;
  }
  header .mobile_menu .mobile_menu_wrapper .last_link {
    gap: 10px;
  }
  @keyframes headerActive {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  header .mobile_menu.active {
    display: flex;
    animation: headerActive 0.2s linear 1;
  }
  @keyframes headerNoActive {
    0% {
      display: flex;
      opacity: 1;
    }
    100% {
      display: flex;
      opacity: 0;
    }
  }
  header .mobile_menu.noActive {
    display: none;
    animation: headerNoActive 0.2s linear 1;
  }
}
@media (max-width: 1300px) {
  #classic_main .classic_main_wrapper .stopper_in {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 1250px) {
  #all_cards .first_cards {
    flex-direction: column;
  }
  #all_cards .first_cards .first_card {
    gap: 20px;
  }
  #all_cards .first_cards .first_card .first_card_left {
    width: 100%;
    display: none;
  }
  #all_cards .first_cards .first_card .first_card_right {
    width: 100%;
  }
  #all_cards .first_cards .first_card .first_card_right .title, #all_cards .first_cards .first_card .first_card_right .descriptions {
    min-width: 100%;
    text-align: center;
  }
  #all_cards .first_cards .first_card .first_card_right .title div, #all_cards .first_cards .first_card .first_card_right .descriptions div {
    width: 100%;
    text-align: center;
  }
  #all_cards .first_cards .cards {
    padding-top: 20px;
  }
  #all_cards .first_cards .cards .cards_top {
    justify-content: center;
  }
  #all_cards .first_cards .cards .btn_link {
    margin: 0 auto;
  }
  #all_cards .main_cards {
    flex-direction: column-reverse;
    align-items: center;
  }
  #all_cards .main_cards .first_card {
    gap: 0;
  }
  #all_cards .main_cards .first_card .first_card_left {
    display: none;
  }
  #all_cards .main_cards .first_card .first_card_right {
    width: 100% !important;
  }
  #all_cards .main_cards .first_card .first_card_right .title, #all_cards .main_cards .first_card .first_card_right .descriptions {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  #all_cards .main_cards .cards .btn_link {
    margin: 0 auto;
  }
  #all_cards .main_cards:nth-child(3) {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  #classic_main .classic_main_wrapper .mobile_img {
    display: block;
  }
  #classic_main .classic_main_wrapper .mobile_main_in .mobile_main_img {
    display: block;
  }
  #classic_main .classic_main_wrapper .media_slider {
    display: block !important;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .main_img {
    display: none;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .desktop_slider {
    display: none;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right .svg_icon1 {
    width: 80%;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right .svg_icon2 {
    width: 80%;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right .svg_icon3 {
    width: 80%;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left .svg_icon1 {
    width: 80%;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left .svg_icon2 {
    width: 80%;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left .svg_icon3 {
    width: 80%;
  }
  #classic_main .classic_main_wrapper .classic_card_sliders {
    gap: 50px;
    flex-direction: column;
  }
  #classic_main .classic_main_wrapper .classic_card_sliders .btn_link {
    margin: 0 auto;
  }
  #example .main_container {
    flex-wrap: wrap;
    align-items: center !important;
  }
  #example .main_container .card_first {
    width: 100%;
    margin-top: 30px;
    order: 2;
  }
  #example .main_container .card_first img {
    display: none;
  }
  #example .main_container .card_first .text {
    position: static;
    top: auto;
    left: auto;
    width: 100%;
  }
  #example .main_container .card_item {
    width: calc(50% - 10px);
    padding-top: 50px;
    order: 1;
  }
}
@media (max-width: 1150px) {
  #advantages .advantages_top .advantages_top_right .datas .value {
    width: auto;
  }
  #advantages .advantages_bottom {
    flex-direction: column-reverse;
  }
  #advantages .advantages_bottom .advantages_left {
    width: 100%;
  }
  #advantages .advantages_bottom .advantages_left img {
    width: 100%;
  }
  #advantages .advantages_bottom .advantages_left .title {
    max-width: 100%;
  }
  #advantages .advantages_bottom .advantages_left .description {
    max-width: 100%;
  }
}
@media (max-width: 1070px) {
  #classic_main .classic_main_wrapper .podbar_system {
    overflow: visible;
    flex-direction: column;
  }
  #classic_main .classic_main_wrapper .podbar_system h3 {
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
  }
  #classic_main .classic_main_wrapper .podbar_system .system_block {
    margin: 0 auto 0 30px;
  }
}
@media (max-width: 993px) {
  #classic_main .classic_main_wrapper .classic_in .classic_block .main_img {
    display: none;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right .svg_icon1 {
    display: none;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right .svg_icon2 {
    display: none;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right .svg_icon3 {
    display: none;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left .svg_icon1 {
    display: none;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left .svg_icon2 {
    display: none;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left .svg_icon3 {
    display: none;
  }
  #classic_main .classic_main_wrapper .other_products .other_products_in {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #classic_main .classic_main_wrapper .other_products .other_products_in .btn_link_two {
    margin: 0 auto;
  }
  #classic_main .classic_main_wrapper .podbar_instruction {
    flex-direction: column;
    text-align: center;
  }
  #classic_main .classic_main_wrapper .podbar_instruction .instruction_card {
    margin: 0 auto;
  }
  #classic_main .classic_main_wrapper .bottom_slider .btn_left, #classic_main .classic_main_wrapper .bottom_slider .btn_right {
    display: none;
  }
  #home {
    padding-top: 130px;
    padding-bottom: 50px;
    background-position: left center;
  }
  #home .main_container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  #home .title {
    font-size: 20px;
    margin-bottom: 31px;
  }
  #home .description {
    font-size: 14px;
    margin-bottom: 30px;
  }
  #advantages .advantages_top {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    gap: 20px;
    margin-bottom: 50px;
    flex-direction: column;
  }
  #advantages .advantages_top .advantages_top_left {
    min-width: 100%;
    border-right: none;
    text-align: center;
  }
  #advantages .advantages_top .advantages_top_left .imgs {
    display: none !important;
  }
  #advantages .advantages_top .advantages_top_left .main_img {
    width: 250px;
    margin-top: 0;
  }
  #advantages .advantages_top .advantages_top_right {
    width: 100%;
  }
  #advantages .advantages_top .advantages_top_right .title {
    font-size: 20px;
    max-width: 389px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #advantages .advantages_top .advantages_top_right .datas {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  #advantages .advantages_top .advantages_top_right .datas .data {
    font-size: 16px;
  }
  #advantages .advantages_top .advantages_top_right .datas .value {
    font-size: 12px;
  }
  #advantages .advantages_bottom {
    gap: 7px;
    margin-bottom: 50px;
  }
  #advantages .advantages_bottom .advantages_left .title {
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  #advantages .advantages_bottom .advantages_left .description {
    font-size: 12px;
  }
  #advantages .advantages_bottom .advantages_left .text {
    font-size: 16px;
  }
  #chip {
    background: black;
  }
  #chip .main_container {
    max-width: 100%;
    padding: 80px 15px;
  }
  #chip .title {
    font-size: 20px;
    max-width: 100%;
    text-align: center;
  }
  #chip .description {
    font-size: 12px;
    max-width: 100%;
    text-align: center;
  }
  #example {
    margin-bottom: 50px;
  }
  #example .main_container {
    gap: 20px;
    align-items: start !important;
  }
  #example .card_first {
    position: relative;
    margin-right: 0px;
  }
  #example .card_first .text {
    font-size: 12px;
  }
  #example .card_item .card_title {
    font-size: 16px;
  }
  #example .card_item .card_img {
    margin-bottom: 30px;
  }
  #example .card_item .card_img img {
    width: 100%;
  }
  #example .card_item .card_descriptions {
    gap: 20px;
    margin-bottom: 15px;
  }
  #example .card_item .card_descriptions .text {
    font-size: 12px;
  }
  #chip2 {
    background-position: right center;
  }
  #chip2 .main_container {
    max-width: 100%;
    padding: 80px 15px;
  }
  #chip2 .description {
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }
  #chip2 .btn_link {
    margin: 0 auto;
  }
  #all_cards .main_container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  #all_cards .first_cards {
    gap: 20px;
    margin-bottom: 50px;
  }
  #all_cards .first_cards .first_card .first_card_right {
    padding-top: 50px;
  }
  #all_cards .first_cards .first_card .first_card_right .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #all_cards .first_cards .first_card .first_card_right .descriptions {
    font-size: 12px;
    gap: 10px;
  }
  #all_cards .first_cards .cards {
    padding-top: 20px;
  }
  #all_cards .first_cards .cards .cards_top {
    gap: 10px;
    margin-bottom: 20px;
  }
  #all_cards .first_cards .cards .cards_top img {
    display: block;
    width: calc(50% - 5px);
  }
  #all_cards .main_cards {
    gap: 20px;
    margin-bottom: 50px;
  }
  #all_cards .main_cards .cards .cards_top {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  #all_cards .main_cards .cards .cards_top img {
    display: block;
    width: calc(50% - 5px) !important;
  }
  #all_cards .main_cards .first_card .first_card_right .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #all_cards .main_cards .first_card .first_card_right .descriptions {
    gap: 10px;
  }
  #all_cards .main_cards .first_card .first_card_right .descriptions div {
    font-size: 12px;
  }
  #all_cards .last_main_cards {
    margin-bottom: 50px;
  }
  #history_home .main_container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  #history_home .title {
    font-size: 20px;
    margin: 120px auto 30px;
  }
  #history_home .history_home_bottom {
    padding-top: 50px;
    margin-bottom: 50px;
  }
  #history_home .description {
    font-size: 14px;
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }
  #history_home .cards {
    justify-content: center;
    padding-right: 0;
    gap: 10px;
  }
  #history_home .cards .card_item {
    padding: 20px 5px 20px;
    width: calc(50% - 5px);
  }
  #history_home .cards .card_item .text {
    font-size: 13px;
    margin-top: 8px;
  }
  #history_cards {
    margin-bottom: 50px;
  }
  #history_cards .main_container {
    gap: 10px;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }
  #history_cards .card_left {
    width: 100%;
  }
  #history_cards .card_left .first_card_item img {
    width: 100%;
    margin-bottom: 10px;
  }
  #history_cards .card_left .first_card_item .text {
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  #history_cards .card_left .card_item {
    max-width: 100%;
    margin-left: auto;
    margin-right: 0;
  }
  #history_cards .card_left .card_item img {
    width: 100%;
    margin-bottom: 10px;
  }
  #history_cards .card_left .card_item .text {
    font-size: 14px;
  }
  #history_cards .card_right {
    width: 100%;
  }
  #history_cards .card_right img {
    width: 100%;
    margin: 20px 0 10px;
  }
  #history_cards .card_right .text {
    font-size: 14px;
  }
  #trust {
    padding: 0;
    margin-bottom: 50px;
  }
  #trust .trust_bg {
    display: none;
  }
  #trust .main_container {
    flex-direction: column;
    max-width: 100%;
    gap: 50px;
  }
  #trust .main_container .title {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
  }
  #trust .main_container .texts {
    background: black;
    width: 100%;
    padding: 10px 15px;
    justify-content: center;
    gap: 10px;
  }
  #trust .main_container .texts .line_1 {
    margin-left: 0px;
    margin-right: 0px;
  }
  #trust .main_container .texts .line_2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  #trust .main_container .texts .item .number {
    font-size: 18px;
    margin-bottom: 4px;
  }
  #trust .main_container .texts .item .text {
    font-size: 13px;
  }
  #foot_slier {
    margin-bottom: 100px;
  }
  #foot_slier .main_container {
    gap: 0;
    max-width: 100%;
    padding: 0px 15px;
  }
  #foot_slier .foot_slider .swiper-slide img {
    width: 100%;
  }
  #foot_slier .btn_right, #foot_slier .btn_left {
    display: none;
  }
  footer {
    background: black;
    padding: 30px 0 30px;
  }
  footer .main_container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
  }
  footer .item {
    width: calc(45% - 10px);
  }
  footer .item .logo img {
    height: 30px;
  }
  footer .item ul {
    margin-top: 20px;
    gap: 5px;
  }
  footer .item .link_1 {
    margin-top: 20px;
  }
  footer .item .title {
    font-size: 15px;
    margin-top: 26px;
  }
  footer .item a {
    font-size: 12px;
  }
  footer .item .link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  footer .item .link img {
    width: 16px;
    height: auto;
  }
  footer .item_1 {
    width: 100%;
  }
  footer .item_2 {
    margin-left: 0;
    margin-right: 0;
  }
  footer .item_4 {
    margin-left: 0;
    width: calc(10% - 10px);
  }
}
@media (max-width: 768px) {
  #classic_main .classic_main_wrapper .podbar_system .system_block {
    margin: 0 auto 0 30px;
  }
  #classic_main .classic_main_wrapper .podbar_system .system_block .system_line {
    display: none;
  }
  #classic_main .classic_main_wrapper .podbar_system .system_block .system_box {
    margin-bottom: 10px;
    flex-direction: column;
  }
  #classic_main .classic_main_wrapper .podbar_system .system_block .system_box img {
    position: relative;
    left: 0;
  }
  #classic_main .classic_main_wrapper .podbar_system .system_block .system_box h4 {
    margin-left: 0px;
  }
  .main_container {
    max-width: calc(100% - 30px);
  }
  .btn_link,
  .btn_link_two {
    height: 40px;
    font-size: 21px;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right {
    margin-bottom: 50px;
    max-width: 250px;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right p {
    height: 200px;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right h3 {
    height: 60px;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left {
    margin-bottom: 50px;
    max-width: 250px;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left p {
    height: 200px;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left h3 {
    height: 60px;
  }
  #classic_main .classic_main_wrapper .classic_card_sliders .classic_card_slider .classicSlider {
    width: 100%;
  }
  #classic_main .classic_main_wrapper .classic_card_sliders .classic_card_slider .classicSlider img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .btn_link,
  .btn_link_two {
    width: 100%;
    height: 40px;
    font-size: 21px;
  }
  #classic_main .classic_main_wrapper .podbar_card_top {
    margin-bottom: 0;
  }
  #classic_main .classic_main_wrapper .podbar_card_top .podbar_card {
    width: 95%;
  }
  #classic_main .classic_main_wrapper .podbar_card_top .podbar_card .btn_link {
    width: 100%;
  }
  #classic_main .classic_main_wrapper .classic_in {
    margin-top: 50px;
    flex-direction: column;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block {
    width: 100%;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left,
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right {
    max-width: 100% !important;
    text-align: center;
    margin-bottom: 20px;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left svg,
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left img,
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left h3,
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right h3 {
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
    height: auto;
  }
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_left p,
  #classic_main .classic_main_wrapper .classic_in .classic_block .classic_card_right p {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  #classic_main .classic_main_wrapper h2 br {
    display: none;
  }
  #example {
    margin-bottom: 50px;
  }
  #example .main_container {
    gap: 20px;
    align-items: start !important;
  }
  #example .card_first {
    position: relative;
    margin-right: 0px;
  }
  #example .card_first .text {
    font-size: 12px;
  }
  #example .card_item {
    width: 100% !important;
  }
  #example .card_item .card_title {
    font-size: 16px;
    text-align: center;
  }
  #example .card_item .card_img {
    margin-bottom: 30px;
    text-align: center;
  }
  #example .card_item .card_img img {
    max-width: 300px;
  }
  #example .card_item .card_descriptions {
    gap: 20px;
    margin-bottom: 15px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  #example .card_item .card_descriptions .text {
    font-size: 12px;
  }
  #home {
    background: url("../images/index_mobile.png"), no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 210px;
    padding-bottom: 710px;
  }
  #home .title {
    max-width: 490px;
  }
  #home .description {
    max-width: 520px;
  }
  #home .btn_link {
    max-width: 380px;
    margin-right: auto;
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */